.text {
    color : rgb(255, 83, 0);
}

.text:after{
    mix-blend-mode: hard-light;
    color: #fff;
    content: attr(progress-value);
}

.progress{
    border-radius: 2px;
    background: #d5d5d5;
}

.progress::-moz-progress-bar {
    background: #F28705;
    border-radius: 2px;
}

/* For Chrome or Safari */
.progress::-webkit-progress-bar {
    background: #d5d5d5;
    border-radius: 2px;
}
.progress::-webkit-progress-value {
    background: #F28705;
    border-radius: 2px;
}

