@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 3px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
    background-color: #93e026;
}

::selection{
    background-color: #66bf3c;
    color: #fff;
}

progress::-moz-progress-bar {background-color: #66bf3c;}
progress::-webkit-progress-bar {background-color: #66bf3c; width: 100%;}
